@charset "UTF-8";

body{
    font-family:"MS PGothic","Konatu","Mona","Textar","Monapo","IPAMonaPGothic";
    font-size:16px;
    color:#000;
    background:#fff;
    background-image: url("/res/Kita-3D.jpg");

    height:100%;
    margin:10px 0px 30px 105px;
}
input,textarea{
    font-family:"MS PGothic","Konatu","Mona","Textar","Monapo","IPAMonaPGothic";
    font-size:16px;
    border:1px inset #000;
    outline:1px inset #fff;
}
img{
    float:left;
    margin:5px 10px 5px 5px;
}
.banner{
    display:table;
}
.msg{
    background:#fc9;
    border:2px outset #000;

    display:table;
    margin:0 auto;
    padding:7px;
    min-width:50%;
}
.msg2{
    background:#eee;
    border:1px inset #eee;

    padding:7px;
}
.boardTitle{
    color:#000;
    text-align:center;
}
.postForm{
    background:#fc9;
    border:2px outset #000;

    margin-top:5px;
    margin-bottom:5px;
    padding:2px;
}
.label{
    background:transparent;
}
.menu{
    font-family:"Arial","Liberation Sans","MS PGothic","Konatu","Mona","IPAMonaPGothic";
    font-size:13px;
    background:#edc;
    border-right:1px solid #888;

    position:fixed;
    top:0px;
    left:0px;
    overflow:hidden;
    width:100px;
    margin:0px;
    padding:0px;
    height:100%;
}
.menu hr{
    border:1px inset #ddd;
}
.menu ul{
    margin:0px;
    padding-left:15px;
}
.menu li{
    padding-top:2px;
    padding-bottom:2px;
}
