@charset "UTF-8";

body{
    font-family:"Arial","Sans";
    font-size:13px;
    color:#c5c8c6;
    background:#1d1f21;

    height:100%;
    margin:10px 0px 30px 105px;
}

a{
    color:#6c879e;
}
input[type=text], .computer textarea{                                                                                                                                                        
    font-family:"Arial","Sans";
    font-size:13px;
    border:2px inset #aaa;
    outline:1px inset #fff;
}

.outer{
    display:table;
    margin:0 auto;
    background:#eee;
    border:1px outset #888;
    padding:7px;
}
.inner{
    background:#eee;
    border:1px inset #888;
}
.inner table{
    background:#BE9;
}
.inner td{
    border:1px solid #CCC;
    margin:0px;
    vertical-align:top;
}




/* BEGIN GENERIC STYLES */ 
img{
    float:left;
    max-width:100%;
    margin:5px 10px 5px 5px;
}
blockquote{
    white-space:pre-wrap;
    margin:0px 0px 10px 0px;
}
ul{
    margin:0px;
    padding-left:15px;
}
li{
    padding-top:2px;
    padding-bottom:5px;
}
.threadcontainer{
    display:table;
    min-width:800px;
    max-width:1600px;
}
.threadbody{
    white-space:pre;
    word-break:normal;
    word-wrap:break-word;
    display:block;

    margin:7px;
    padding:2px;
    height:auto;
}
.post{
    background:#282a2e;
    height:auto;
    padding:5px 15px 2px 5px;
    margin:2px 0px 2px 0px;


    #width:auto;
    #width:800px;
    max-width:95%;
    min-width:300px;
    white-space:pre;
    word-break:normal;
    word-wrap:break-word;
    #display:inline-block;
    display:table;
    border-left:1px solid #6c879c;
    border-right:1px solid #6c879c;
}
.tb{
    background:#34345c;
    margin:0px 0px 4px 0px;
    padding:2px 0px 2px 0px;
}
.title{
    font-size:28px;
    font-weight:bold;
    word-break:all;
    word-wrap:break-word;
}
.name{
    font-weight:bold;
}
.fname{
    font-size:11px;
}
.ja{
    font-family:"MS PGothic","Konatu","Mona","Textar","Monapo","IPAMonaPGothic";
    font-size:16px;
}
.code{
    font-family:"Courier New","Courier","monospace";
    background:#000;
    border:1px solid #aaa;

    padding:5px;
    display:table;
}
.spoiler{
    background:#c5c8c6;
}
.quote{
    color:#690;
}
.foot{
    color:#888;
    font-style:italic;
    background:#cca;
}
.long{
    color:#888;
}
.sub{
    color:#888!important;
    font-size:11px;
    background:transparent;
    border:1px solid #555;

    margin-left:25px;
    width:200px;
    height:20px;
    padding-top:10px;
    overflow-x:hidden;
    overflow-y:hidden;
    resize:both;
}
.sub .name, .sub .date{
    color:#888!important;
    background:transparent!important;
}
/* END GENERIC STYLES */

/* BEGIN BOARD SPECIFIC STYLES */


/******************************************************************************/
/* MAIN THEME */
/******************************************************************************/
.banner{
    display:table;
}
.msg{
    background:#34345c;
    border:2px solid #333;

    display:table;
    margin:0 auto;
    padding:7px;
    min-width:50%;
}
.msg2{
    background:#282a2e;
    border:1px solid #555;

    padding:7px;
}
.postForm{
    background:#282a2e;
}
.boardTitle{
    color:#6c879e;
    text-align:center;
}
.label{
    color:#6c879e;
    border:1px inset #555;
    background:#34345c;
}
.menu{
    font-family:"Arial","Liberation Sans","MS PGothic","Konatu","Mona","IPAMonaPGothic";
    font-size:13px;
    background:#34345c;
    border-right:1px solid #555;

    position:fixed;
    top:0px;
    left:0px;
    overflow:hidden;
    width:100px;
    margin:0px;
    padding:0px;
    height:100%;
}
.menu hr{
    border:1px inset #555;
}






body.threadcontainer .tb{
    background:transparent;
}
.catalog{
    word-break:break-all;
    word-wrap:break-word;
    display:table;
    margin:0 auto;
}
.catalog img{
    word-break:break-all;
    word-wrap:break-word;
    display:block;

    float:none;
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    max-width:128px;
    max-height:128px;
}
.catalog .tb{
    margin:0px;
    padding:0px;
}
.catalog .title{
    word-break:break-all;
    word-wrap:break-word;
    color:#f05902;
}
.catalog .threadbody{
    word-break:break-all;
    word-wrap:break-word;
    font-size:12px;
    /*background:transparent;*/
    border:none;
    outline:none;

    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    width:200px;
    padding:0px;
}
.catalog .threadcontainer{
    word-break:break-all;
    word-wrap:break-word;
    display:inline-block;
    vertical-align:top;
    overflow:hidden;
    width:200px;
    min-width:200px;
    max-height:250px;
}
.catalog .title{
    word-break:break-all;
    word-wrap:break-word;
    font-size:14px;
}
.catalog .post{
    word-break:break-all;
    word-wrap:break-word;
    min-width:10px;
}
.catalog blockquote{
    word-break:break-all;
    word-wrap:break-word;
    max-width:200px;
}
