@charset "UTF-8";

body{
    font-family:"Arial","Liberation Sans";
    font-size:13px;
    color:#800000;
    background:#ffe;
    background-image:-moz-linear-gradient(top, #fed6af 0%, #ffe 180px);
    background-repeat: no-repeat;

    height:100%;
    margin:10px 0px 30px 105px;
}
input textarea{
    font-family:"Arial","Liberation Sans";
    font-size:13px;
}
img{
    float:left;
    margin:5px 10px 5px 5px;
}
hr{
    border:none;
    border-top:1px solid #D9BFB7;
}
.banner{
    display:table;
}
.msg{
    background:#fed6af;
    border:1px solid #800000;

    display:table;
    margin:0 auto;
    padding:10px;
    min-width:50%;
}
.boardTitle{
    text-align:center;
}
.postForm{
    background:transparent;

    margin-top:5px;
    margin-bottom:5px;
}
.postForm td{
    background:#fed6aF;
}
.label{
    background:#ea8;
    border:1px solid #800000;

    padding:0px 3px 0px 1px;
}
.menu{
    font-family:"Arial","Liberation Sans","MS PGothic","Konatu","Mona","IPAMonaPGothic";
    font-size:13px;
    background:#ffe;
    border-right:1px solid #d9bfb7;

    position:fixed;
    top:0px;
    left:0px;
    overflow:hidden;
    width:100px;
    margin:0px;
    padding:0px;
    height:100%;
}
.menu hr{}
.menu ul{
    margin:0px;
    padding-left:15px;
}
.menu li{
    padding-top:2px;
    padding-bottom:2px;
}
