body{
    background:#DCB;
    font-size:13px;
    font-family:"Arial";
    height:100%;
    margin:10px 0px 30px 105px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAIAAAAlC+aJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wsEAA8v+0eDigAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAABPklEQVRo3u2ZTQ6DIBCFRbE2cenC+x/CKzXpAUxqROyim5qiDlWcQd/smhDKx8ybH1SPpkkIlmr9/VNlmWNNUSzsoKY7rPxdnlNXJv7mPD2XpX9cv3vN4vUzA0i2CwBQ5AsPAGBL/jmDB7hyqDeANAWvAOwYPypYKCILiQWQn3+8PSBQwdAAAEIBxKJguR6wfS8LYDQGGrg4wEIVY+yl3QARpSBoAABnBiDWMnggSWzXMQLoSC/+9XxKBxja1gyDw+HTtooTYDRme/jpI48rVANZWR7cQnsD3KqKPmHwZKF7XUeajnS8RxdRibfPElQA+pdnNHMAAEDIIeGnOMIDwWaJ0dWKQgOXAlCHPJB5AMgsxjGFkHUNGNAAAM4JQKxiMXnAzjwRIIRODLDju5Cd34rTA3OtKF3BCCHW/POxN1a5S18deogVAAAAAElFTkSuQmCC);
}
h1{
    color:#C00;
    text-align:center;
}
input{
    font-size:13px;
    font-family:"Arial";
}
textarea{
    font-size:13px;
    font-family:"Arial";
}
img{
    float:left;
    margin:5px 10px 5px 5px;
}
blockquote{
    margin-right:0px;
    white-space:pre-wrap;
    word-break:break-word;
}
ul{
    margin:0px;
    padding-left:15px;
}
li{
    padding-top:2px;
    padding-bottom:2px;
}
.postForm{
    background:#CCC;
    border:2px outset #CCC;
    margin-top:5px;
    margin-bottom:5px;
    padding:5px;
}
.banner{
    display:table;
}
.msg{
    background:#CCC;
    border:2px outset #CCC;
    display:table;
    margin:0 auto;
    padding:10px;
    min-width:50%;
}
.autotext{
    color:#222;
    margin-top:5px;
}
.label{
    background:#EDC;
    border:2px inset #EDC;
    padding:0px 3px 0px 1px;
}
.menu{
    background:#EDC;
    border-right:1px solid #888;
    font-size:13px;
    font-family:"Arial", "MS PGothic";
    position:fixed;
    left:0px;
    top:0px;
    margin:0px;
    padding:0px;
    height:100%;
    width:100px;
    overflow:hidden;
}
.menu hr{
    border:1px inset #DDD;
}
