body{
    font-family:"Arial";
    font-size:13px;
    background:#EFF;
    background-image:-moz-linear-gradient(top, #59A 0%, #EFF 180px);
    background-repeat: no-repeat;
    color:#006;
    margin-top:10px;
    margin-bottom:30px;
    margin-left:70px;
}
h1{
    text-align:center;
}
input{
    font-size:14px;
    font-family:"Arial";
}
textarea{
    font-size:14px;
    font-family:"Arial";
}
img{
    float:left;
    margin:5px 10px 5px 5px;
}
table{
    background:transparent;
    border:1px outset #800000;
    border:none;
    margin-top:5px;
    margin-bottom:5px;
}
td{
    background:#CCF0F0;
}
blockquote{
    margin-right:0px;
    white-space:pre-wrap;
    word-break:break-word;
}
hr{
    border:none;
    border-top:1px solid #D9BFB7;
}
.msg{
    display:table;
    margin:0 auto;
    background:#CCF0F0;
    border:1px solid #006;
    padding:10px;
    min-width:50%;
}
.label{
    background:#59A;
    padding:0px 3px 0px 1px;
    border:1px solid #006;
}
.menu{
    font-family:"Arial", "MS PGothic";
    position:fixed;
    left:0px;
    top:0px;
    padding:0px;
    margin:0px;
    height:100%;
    width:100px;
    border-right:1px solid #888;
    background:#DDD;
    background:#D9CDBD;
    overflow:hidden;
}
.menu hr{
    border:1px inset #DDD;
}
