@charset "UTF-8";

body{
    font-family:"Georgia","Liberation Serif","Times New Roman","serif";
    font-size:13px;
    color:#000;
    background:#dde;
    background-image: url(data:image/gif;base64,R0lGODlhKAAoAKIAAAAAAP///2uq3oTblP///wAAAAAAAAAAACH5BAEAAAQALAAAAAAoACgAAANeKLrcPTDKOZ21NOfLl/5R14GgyJGfeaGairGU68CxzNCV7eGhrvA9HxDi+w2LguEAqWQei03oUzjVKaNUoFMr5WZ5W3BX/MWFzWN0mXZmp91rWFv+psdZc3xdf0chEwA7);

    height:100%;
    margin:10px 0px 30px 105px;
}
input textarea{
    font-family:"Georgia","Liberation Serif","Times New Roman";
    font-size:13px;
}
img{
    float:left;
    margin:5px 10px 5px 5px;
}
.banner{
    display:table;
}
.msg{
    background:#222;
    border:5px outset #eee;
    border-radius:5px;
    box-shadow:0 0 0 1px #222;

    display:table;
    margin:0 auto;
    padding:10px;
    min-width:50%;
}
.msg2{}
.boardTitle{
    color:#eee;
    text-align:center;
}
.postForm{
    background:#dde;
    border:2px outset #eee;
    border-radius:5px;
    box-shadow:0 0 0 1px #222;

    margin-top:5px;
    margin-bottom:5px;
    padding:0px;
}
.label{
    color:#eee;
    background:#222;

    padding:0px 3px 0px 1px;
}
.menu{
    font-family:"Arial","Liberation Sans","MS PGothic","Konatu","Mona","IPAMonaPGothic";
    font-size:13px;
    background:#dde;
    border-right:1px solid #b7c5d9;

    position:fixed;
    top:0px;
    left:0px;
    overflow:hidden;
    width:100px;
    margin:0px;
    padding:0px;
    height:100%;
}
.menu hr{
    border:1px inset #ddd;
}
.menu ul{
    margin:0px;
    padding-left:15px;
}
.menu li{
    padding-top:2px;
    padding-bottom:2px;
}
