@charset "UTF-8";

body{
    font-family:"Arial","Liberation Sans";
    font-size:13px;
    color:#000;
    background:#ddd;

    height:100%;
    margin:10px 0px 30px 105px;
}
input textarea{
    font-family:"Arial","Liberation Sans";
    font-size:13px;
}
img{
    float:left;
    margin:5px 10px 5px 5px;
}
.banner{
    display:table;
}
.msg{
    background:#feb;
    border:2px outset #ccc;

    display:table;
    margin:0 auto;
    padding:7px;
    min-width:50%;
}
.msg2{
    background:#ffe;
    border:1px inset #CCC;

    padding:7px;
}
.boardTitle{
    color:#c00;
	text-align:center;
}
.postForm{
    background:#bdf;
    border:2px outset #ccc;

    margin-top:5px;
    margin-bottom:5px;
    padding:5px;
}
.label{
    background:#feb;
    border:2px inset #edc;

    padding:0px 3px 0px 1px;
}
.menu{
    font-family:"Arial","Liberation Sans","MS PGothic","Konatu","Mona","IPAMonaPGothic";
    font-size:13px;
    background:#edc;
    border-right:1px solid #888;

    position:fixed;
    top:0px;
    left:0px;
    overflow:hidden;
    width:100px;
    margin:0px;
    padding:0px;
    height:100%;
}
.menu hr{
    border:1px inset #ddd;
}
.menu ul{
    margin:0px;
    padding-left:15px;
}
.menu li{
    padding-top:2px;
    padding-bottom:2px;
}
