@font-face {
    font-family: 'submona-web-font';
    src: url('/pub/fonts/submona-web-font/submona.woff') format('woff');
}
body, header, section, footer {
    font-size: 13px;
    font-family: 'Liberation Sans', 'Arial';
    color: #c5c8c6;
    padding: 0px;
    margin: 0px;
    background: #1d1f21;
}
footer {
    padding: 5px;
}
a:link {
    color: #81a2be;
}
a:visited {
    color: #5f89ac;
}
i {
    color: #484;
    font-style: normal;
}
td {
    border: none;
}
th {
    background: #34345c;
}
ul {
    margin: 0px;
}
hr {
    margin: 0px;
    border: 1px dotted #34345c;
}
input, textarea {
    font-size: 13px;
    font-family: 'Liberation Sans', 'Arial';
    color: #c5c8c6;
    background: #282a2e;
}
input[type='checkbox'] {
    background: #c00;
}
.site-name {
    color: #c5c8c6;
    font-size: 32px;
    font-weight: bold;
}
.nav {
    background: #34345c;
    padding: 2px 10px 2px 2px;
}
.sidebar {
    display: none;
    border-right: 1px solid #000;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 110px;
    padding: 0px;
}
.mid {
    background: #1d1f21;
    border-left: 5px solid transparent;
}
.mid.threadbg {
    background: #1d1f21;
}
.mid.preview, .mid.infopage {
    border-left: 10px double #34345c;
}
.mid.links {
    padding-left: 5px;
    border-left: 10px dashed #34345c;
}
.news-box {
    display: table;
    margin: 5px auto;
    overflow: contain;
}
.note, .notice, .public, .news {
    background: #1d1f21;
    border-bottom: 2px groove #34345c;
}
.note h3, .notice h3, .public h3, .news h3 {
    margin: 0px;
    font-weight: normal;
}
.note .link {
    margin: 0px;
    color: #3b3;
}
.notice .link {
    margin: 0px;
    color: #3bb;
}
.public .link {
    margin: 0px;
    color: #bb3;
}
.news .link {
    margin: 0px;
    color: #b33;
}
.warning {
    color: #c00;
    font-weight: bold;
}
.preview .thread {
    border-top: 2px groove #34345c;
}
.threadwrapper {
    margin: 4px 10px 8px 2px;
}
.thread {
    min-width: 500px;
    max-width: 1800px;
    padding: 0px;
    width: auto;
    color: #c5c8c6;
    background: #1d1f21;
    border: 0px inset #fffaee;
}
.flash tbody:nth-child(even) {
    background: #303236;
}
.flash tbody:nth-child(odd) {
    background: #282a2e;
}
.flash td {
    padding: 1px 4px;
}
.title-bar {
    margin: 0px;
    font-weight: bold;
    background: #34345c;
}
.title {
    font-size: 24px;
    text-decoration: none;
}
.post-frame {
    border-collapse: collapse;
}
blockquote {
    white-space: pre-wrap /* css-3 */;
    white-space: -moz-pre-wrap /* Mozilla, since 1999 */;
    white-space: -pre-wrap /* Opera 4-6 */;
    white-space: -o-pre-wrap /* Opera 7 */;
    word-wrap: break-word /* Internet Explorer 5.5+ */;
    overflow-wrap: break-word;
    margin-left: 10px;
}
.post {
    padding: 2px 10px 2px 2px;
    background: #282a2e;
    border: 3px double #34345c;
    margin: 1px;
}
.postform {
    background: #1d1f21;
    border: #282a2e;
}
.field {
    color: #c5c8c6;
    text-align: right;
    font-weight: bold;
    background: #34345c;
}
.name {
    color: #74a2be;
}
.capcode {
    color: #c00;
}
.date {
    color: #c5c8c6;
}
.shade {
    color: #888;
    font-size: 11px;
}
.warning {
    color: #c00;
    fong-weight: bold;
}
.aa {
    font-family: 'MS PGothic', 'MS Pゴシック', 'Konatu', 'Mona', 'Monapo', 'Textar', 'submona-web-font';
    font-size: 16px;
}
.spoiler {
    color: #c5c8c6;
    background: #c5c8c6;
}
.code {
    font-family: monospace;
    background: #1d1f21;
    border: 1px solid #34345c;
}
.OPimg {
    margin: 0px 10px 10px 10px;
    float: left;
}
.subthread {
    background: #1d1f21;
    border: 1px solid #34345c;
    width: 220px;
    height: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    resize: both;
}
.subpost blockquote, .subpost .name, .subpost .date {
    color: #888;
    font-size: 11px;
}
.top-nav {
    position: absolute;
    top: 4px;
    left: 4px;
}
.header {
    background: #282a2e;
    margin: 0px;
    padding: 5px;
}
.board-message {
    border: 1px inset #34345c;
    background: #34345c;
    margin-bottom: 5px;
}
.catalog {
    justify-content: center;
    text-align: center;
}
.catalog .threadwrapper {
    float: left;
    min-width: 200px!important;
    max-width: 200px!important;
    width: 200px!important;
    min-height: 250px!important;
    max-height: 250px!important;
    height: 250px!important;
    margin: 2px;
}
.catalog .thread {
    overflow: hidden;
    min-width: 200px!important;
    max-width: 200px!important;
    width: 200px!important;
    min-height: 250px!important;
    max-height: 250px!important;
    height: 250px!important;
}
.catalog .thread .OPimg {
    float: none;
    max-width: 100px;
    max-height: 100px;
}
.catalog .thread .title {
    font-size: 14px;
}
.stack {
    max-width: 1000px;
    padding: 2px 10px 2px 2px;
    background: #1d1f21;
    border: 4px solid #282a2e;
}
.odd {
    background: #282a2e;
}
.even {
    background: #303236;
    border: 1px solid #34345c;
}
.odd td, .even td {
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
}
*:target, .highlight {
    background: #484a4e !important;
}
